@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
$isabelline: #fbf8f3;
$celestial-blue: #1DA1F2;
$cerulean: #1F7898;
$black: #000000;
$gray: #7E7E7D;
$light-cyan: #d7f5f5;
$white: #ffffff;

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    width: 100vw;
}
.landing {
    background-color: $isabelline;
}

.navigation-items {
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    em {
        color: $celestial-blue;
        font-weight: 700;
    }

    ul {
        display: flex;
        list-style-type: none;

        li {
            margin-right: 1rem;
            color: $gray;
        }
    }
}

button {
    display: flex;
    align-items: center;
    background-color: $celestial-blue;
    color: $white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;

    img {
        width: 20px;
        height: 20px;
        margin-right: 0.5rem;
    }
}